<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/restdb</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">megabas</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <!--org.hibernate.dialect.PostgreSQLDialect-->


        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create all database on startup -->
        <!--cu create-drop face drop la fiecare creare de Session Factory-->
        <!--cu create face drop tables la fiecare restartare de server-->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Annotated entity classes -->
        <mapping class="com.example.jersey.Subscription"/>

    </session-factory>
</hibernate-configuration>